@font-face {
    font-family: PPNeueMontreal-Thin;
    src: url(../resources/PPNeueMontreal-Thin.otf); }
  
  @font-face {
    font-family: PPNeueMontreal-SemiBolditalic;
    src: url(../resources/PPNeueMontreal-SemiBolditalic.otf); }
  
  @font-face {
    font-family: PPNeueMontreal-Medium;
    src: url(../resources/PPNeueMontreal-Medium.otf); }
  
  @font-face {
    font-family: PPNeueMontreal-italic;
    src: url(../resources/PPNeueMontreal-Italic.otf); }
  
  @font-face {
    font-family: PPNeueMontreal-Book;
    src: url(../resources/PPNeueMontreal-Book.otf); }
  
  @font-face {
    font-family: PPNeueMontreal-Bold;
    src: url(../resources/PPNeueMontreal-Bold.otf); }
  
  * {
    margin: 0;
    padding: 0;
    font-family: PPNeueMontreal-Thin;
    
 }


body {
    background-color: #121111; }
.nav {
    /* width: 100vw; */
    height: 9.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121111;
}

.nav a img {
    width: 8.5rem;
    padding-left: 3.12rem;
    padding-top: 10px;
}

.nav ul {
    display: flex;
    margin-right: 3.12rem;
    list-style: none;
    justify-content: space-around;
}

.nav ul li {
    margin: 0 2rem;
}

.nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30.14px;
}

.nav ul li a h1 {
    font-size: 40px;
    text-decoration: 2px overline;
    font-weight: 600;
}



.contenedorPrincipal {
    display: flex;
    flex-wrap: wrap;
    height: 50rem;
    border: 1px solid #ffff;

}

.card {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    border-radius: 10% 10% 0 0;
    margin: 2rem;
    height: 20rem;
    width: 15rem;
    justify-content: space-between;
    overflow: hidden;
    
}

.imagen{
  max-height: 14rem;
  border-radius: 10% 10% 0 0;  
}

.card p {
    color: #ffffff;
    align-self: center;

}

.carro{
    display: flex;
    
}
